@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-margin-top: 50px;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

.active {
  color: #003635 !important;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #0efffb;
  bottom: 0;
  left: 0;
  transition: width 0.4s ease;
}

.navLink:hover::after {
  width: 100%;
}

.tabs button {
  border-radius: 5px;
  padding: 10px;
}

.tabs button:hover {
  padding: 10px;
  background: #eae8ff;
  color: #028891;
}

.containerTabProyects,
.containerTech,
.containerCertifications {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.tech:hover {
  transform: scale(0.95);
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
}

.iconTech {
  animation: move 3s infinite alternate;
}

/*contacto */

.contact {
  min-height: 550px;
  width: 95%;
}

.contact * {
  color: #028891;
}

.formContact {
  width: 100%;
  background: #fff;
}

.formContact button {
  width: 100%;
  background: #028891;
  color: #ffffff;
}

.formContact button:hover {
  background-color: #171d35;
  background: #fff;
  border: 1px solid #028891;
  color: #028891;
}

.formContact .textarea {
  height: 100px;
  resize: none;
}

.input::placeholder {
  color: #9e9e9e;
}

.input {
  color: #028891;
}

.input {
  color: #000;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #028891;
}

.formContact .iconForm{
  color: #fff;
}

button:hover .iconForm{
  color: #028891;
}

.formContact label {
  color: #028891;
}

/* modal proyecto */

.modal-body{
  width: 100%;
  background:#eae8ff;
}

.imgModal{
  width: 100%;
}

@media all and (min-width: 640px) {
  .containerTech,
  .containerTabProyects,
  .containerCertifications {
    scroll-snap-type: none;
    overflow-x: hidden;
  }

  .formContact,
  .descriptionContact {
    width: 80%;
  }

  .formContact button {
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .formContact {
    width: 75%;
  }
}

@media all and (min-width: 992px) {
  .formContact {
    width: 65%;
  }
}

@media all and (min-width: 1200px) {
  .formContact,
  .descriptionContact {
    width: 400px;
  }
}

@media all and (min-width: 1400px) {
  .formContact,
  .descriptionContact {
    width: 500px;
  }
}
