@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 99;
/* 
  background-color: #283845;
  background-color: #24303d;
  background-color: #120e26;
  background-color: #160116;
  background-color: #21031e;
  background-color: #27272a;
  background-color: #007b67;
  background-color: #117d6c;
  background-color: #009c86;
  background-color: #007b67;
  background-color: #141414;
  background-color: #0a0a0a;
  background-color: #41334d;
  background-color: #13161c;
  background-color: #0a8ecd;
  color: white;
  background-color: #171412;
  background-color: #03091e;
  background-color: #020617;
  background-color: #121f3d;
  background-color: #17233f;
  background-color: #111827;
  background-color: #111827;
  background-color: #073763;
  background-color: #020617; */
  /* border-bottom: 0.5px solid gray; */
  /* background-color: #029D9D;
    background-color: #F7F7F7;
    background-color: #0B130F; */
    /* background: #000; */
    background: radial-gradient(circle, #020617, #0f172a);

}

.canvas {
  background-color: #020617;
}

.navLink {
  transition: 0.7s;
  /* color: #f113db; */
  color: #d0cdcd;
}

.navLink:hover {
  transition: 0.7s;
  /* color: #830476; */
}

/* seccion main */

.mainSection {
  margin-top: 80px;
  background-color: #000;
  background-color: #21031e;
  background-color: #020617;
  background: radial-gradient(circle, #020617, #0f172a);
  background: radial-gradient(circle, #000000, #020617, #0f172a);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 100vh;
}

/* home */

.home {
  width: 100%;
  min-height: 550px;
  padding-top: 50px;
  /* color: #830476;
  background-color: #171d35; */
  background: linear-gradient(135deg, #020617, #0f172a);
  background: radial-gradient(circle, #020617, #0f172a);
  background: radial-gradient(circle, #000000, #020617, #0f172a);
  
}

.home:hover {
  background-color: #171d35;
  transition: 1s;
}

.home_presentation {
  gap: 50px;
}

.home_presentation .btnCV {
  /* background-color: #0a8ecd; */
}

.btnCV:hover {
  background-color: #171d35;
}

h1 {
  /* color: #00ffdd; */
  color: #fff;
  color: rgb(35, 38, 249);
  color: rgb(3, 91, 255);

}

h3 {
  /* color: #00ffdd; */
  color: rgb(254, 28, 28);
  color: rgb(218, 218, 218);
  color: rgb(3, 91, 255);

}

.social {
  cursor: pointer;
}

.social i {
  color: white;
  transition: 0.8s;
}

.social:hover {
  transform: scale(1.3);
  transition: 0.8s;
}

.imgProfile {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* proyectos */

.cardProyect{
  min-width: 250px;
  /* max-width: 350px; */
  height: 450px;
  border: 1px solid white;
  background: radial-gradient(circle, #000000, #020617, #0f172a);
  transition: 0.8s;
}

.cardProyect .imgProyect{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

h2{
  color: rgb(218, 218, 218);
}

.btnSocial{
  border: 1px solid gray;
}

a{
  text-decoration: none;
  color: #fff;
}

.btnSocial:hover {
  border: 1px solid #fff;
  color: #fff;
}

.btnMoreProyects{
  border: 1px solid gray;
}

.btnMoreProyects:hover{
  border: 1px solid #fff;
}

/* tecnologias */

.stack{
  width: 200px;
}

@media all and (min-width: 480px) {
  .home_presentation {
    gap: 150px;
  }

  .cardProyect{
    width: 450px;
    height: 450px;
  }

  .cardProyect:hover{
    border: 1px solid #fff;
    transition: 0.8s;
    transform: scale(1.1);
  }
}

@media all and (min-width: 992px) {
 
}

@media all and (min-width: 992px) {
  .cardProyect{
    width: 280px;
    height: 450px;
    border: none;
  }

     .tecnologies{
      font-size: 18px;
     }

     .btnMoreProyects{
      font-size: 18px;
    }
}

@media all and (min-width: 1200px) {
  .cardProyect{
    width: 350px;
    height: 450px;
    border: none;
  }

  .tecnologies{
   font-size: 18px;
  }

  .btnMoreProyects{
   font-size: 18px;
 }
}